<h2>Reporter output</h2><table><tr><td>INFO: LogHelper::instance(): Singleton created.</td></tr>
<tr><td>INFO: DepositHelper::instance(): Singleton created.</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-primary"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-primary"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-show='logout']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-primary"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as31459</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass1']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input#start" as2021-07-24</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-click='back()']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass3']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as31459</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Transaction successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass1']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input#start" as2021-07-24</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-primary"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass2']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as2000</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Deposit Successful found for By.cssSelector: span[ng-show='message']</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button[ng-class='btnClass3']"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Type in "By.cssSelector: input[ng-model='amount']" as1500</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Click on "By.cssSelector: button.btn-default"</td></tr>
<tr><td>INFO: UIAPI.Testing.DepositHelper: Transaction successful found for By.cssSelector: span[ng-show='message']</td></tr>
</table>